//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 05 03 17:13:37 2024

IO_LOC "tmds_clk" 69,68;
IO_PORT "tmds_clk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_data[0]" 71,70;
IO_PORT "tmds_data[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_data[1]" 73,72;
IO_PORT "tmds_data[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_data[2]" 75,74;
IO_PORT "tmds_data[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "audio[3]" 28;
IO_PORT "audio[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "audio[2]" 27;
IO_PORT "audio[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "audio[1]" 26;
IO_PORT "audio[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "audio[0]" 25;
IO_PORT "audio[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "out[7]" 86;
IO_PORT "out[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out[6]" 85;
IO_PORT "out[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out[5]" 84;
IO_PORT "out[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out[4]" 83;
IO_PORT "out[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out[3]" 82;
IO_PORT "out[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out[2]" 81;
IO_PORT "out[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out[1]" 80;
IO_PORT "out[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out[0]" 79;
IO_PORT "out[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led[5]" 16;
IO_PORT "led[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led[4]" 15;
IO_PORT "led[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led[3]" 14;
IO_PORT "led[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led[2]" 13;
IO_PORT "led[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led[1]" 11;
IO_PORT "led[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led[0]" 10;
IO_PORT "led[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "kbdta" 76;
IO_PORT "kbdta" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "kbclk" 77;
IO_PORT "kbclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE HYSTERESIS=H2L BANK_VCCIO=3.3;
IO_LOC "btn1" 3;
IO_PORT "btn1" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ser_data" 30;
IO_PORT "ser_data" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "btn2" 4;
IO_PORT "btn2" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "sys_clk" 52;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
